.sidebar-container {
  background-color: #040404;
  color: #fff;
  height: 100vh;
  min-width: 230px;
  padding: 0 10px;
  flex: 0.2;

  img.sidebar-spotify-logo {
    // object-fit: contain;
    height: 50px;
    padding: 10px;
    margin-right: auto;
  }

  hr {
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
  }

  .playlists-title {
    margin-left: 10px;
    padding: 5px;
    font-style: 12px;
  }
}
