.footer-container {
    position: fixed;
    bottom: 0;
    width: 97%;
    height: 65px;
    background-color: #282828;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;

    .MuiSvgIcon-root {
        cursor: pointer;
    }

    .footer-left {
        flex: .3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 300px;

        img.footer-album-logo {
            height: 60px;
            width: 60px;
            object-fit: contain;
            margin-right: 20px;
        }

        .footer-singInfo {
            h4 {
                margin-bottom: 5px;
            }

            p {
                font-style: 12px;
            }
        }
    }

    .footer-center {
        flex: .4;
        padding: 0 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 300px;

        .footer-green {

            &:hover {
                color: #1ed760;
            }

        }

        .footer-icon,
        .footer-green {
            &:hover {
                transition: transform 0.2s ease-in-out;
                transform: scale(1.2) !important;
            }
        }
    }

    .footer-right {
        flex: .3;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .MuiSlider-root {
            color: #1ed760;
        }
    }

}