.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .header-left {
        background: #fff;
        color: #b3b3b3;
        border-radius: 30px;
        display: flex;
        align-items: center;
        flex: 0.5;
        min-width: 70px;
        padding: 10px;

        input {
            border: none;
            width: 100%;
        }
    }

    .header-right {
        display: flex;
        align-items: center;

        h4 {
            margin-left: 10px;
            color: #fff;
        }
    }
}